# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.env
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# virtualenv
venv/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Database files
vector_db/

# Logs
*.log

# Environment variables
.env

# Other
*.sqlite3

# Local metadata files
blob_metadata.json